$main_red: #b80000;
$bg_red1: #ff9b9b;
$bg_red2: #f8bfbf;







$btn_bg: #8d2800;
$btn_text: #ffffff;

$btn-font_size: 1rem;


$btn_gc1: #b80000;
$btn_gc2: #840000;
$btn_gc3: #330000;